@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  background-color: hsl(226, 43%, 10%);
  font-family: 'Rubik', sans-serif;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (min-width: 1440px) {
  .container {
    margin-bottom: 3rem;
  }
  
  .grid-container {
    width: 70vw;
    margin-top: 25vh;
    column-gap: 2rem;
    row-gap: 3rem;
  }
}

@media (max-width: 375px) {
  .container {
    margin-bottom: 1rem;
  }

  .grid-container {
    margin: 1rem 1rem 0;
  }
}

.grid-container > div {
  border-radius: 1rem;
}

.item1 {
  background-color: hsl(235, 46%, 20%);
  grid-row-start: 1;
  grid-row-end: 4;
  height: 95.7%;
}

.item1 .card-header {
  background-color: hsl(246, 80%, 60%);
  border-radius: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

.item1 img {
  width: 25%;
  margin-bottom: 3rem;
}

.item1 span {
  color: #fff;
  display: block;
}

.item1 .name {
  font-size: 30px;
}

.item1 .header-info {
  padding-bottom: 5rem;
  width: 175px;
}

@media (max-width: 375px) {
  .item1 .timeframe-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }
}

@media (min-width: 1440px) {
  .item1 .timeframe-container {
    padding-left: 2rem;
    padding-top: 3rem;
  }

  /* .item1 .timeframe-container span {} */
}

.item1 .timeframe-container {
  font-size: 18px;
}

.item1 .timeframe-container .timeframe {
  margin-bottom: 2rem;
  font-weight: 500;
  color: hsl(235, 45%, 61%)
}

.item1 .timeframe-container .timeframe a {
  cursor: pointer;
}

.item1 .timeframe-container .timeframe:first-child{
  color: #fff;
}

.work-time, .play-time, .study-time, .exercise-time, .social-time, .selfcare-time {
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 90% 2%;
}

.work-time {
  background-color: hsl(43, 84%, 65%);
  background-image: url(./images/icon-work.svg);
}

.play-time {
  background-color: hsl(195, 74%, 62%);
  background-image: url(./images/icon-play.svg);
}

.study-time {
  background-color: hsl(348, 100%, 68%);
  background-image: url('./images/icon-study.svg');
}

.exercise-time {
  background-color: hsl(145, 58%, 55%);
  background-image: url('./images/icon-exercise.svg');
}

.social-time {
  background-color: hsl(264, 64%, 52%);
  background-image: url('./images/icon-social.svg');
}

.selfcare-time {
  background-color: hsl(43, 84%, 65%);
  background-image: url('./images/icon-self-care.svg');
}

@media (max-width: 375px) {
  .time-subject {
    margin-bottom: 2.5rem;
  }
}

.time-subject {
  padding-top: 1.5rem;
}

.time-subject .subject-details {
  color: #fff;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  height: 100%;
  /* padding-bottom: 1.5rem; */
}

.time-subject .subject-details:hover {
  background-color: hsl(235, 45%, 61%);
  cursor: pointer;
}

.time-subject .subject-details .details-container {
  /* padding-top: 1rem; */
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
}

.time-subject .subject-details .details-container .details-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.time-subject .subject-details .details-container .details-header img {
  padding-top: 5px;
  width: 10%;
  height: 10%;
}

.time-subject .subject-details .details-container .time {
  margin-bottom: 1rem;
}

.time-subject .subject-details .details-container .time span {
  font-size: 48px;
  font-weight: 300;
}

.time-subject .subject-details .details-container .previous-time {
  margin-bottom: 1rem;
}

.time-subject .subject-details .details-container .previous-time span {
  font-weight: 500;
  color: hsl(236, 100%, 87%);
}